apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
      - name: gateway-service
        image: ubevk/gateway-service:latest
        ports:
        - containerPort: 8080
        env:
        - name: USER_SERVICE_URL
          value: "http://user-service:8083"
        - name: LIST_SERVICE_URL
          value: "http://list-service:8082"
        - name: RECIPE_SERVICE_URL
          value: "http://recipe-service:8084"